<h1>Schedule</h1>

<% matchup %>

<table>
	<thead>
	    <tr>
	    	<th>Name</th>
	    	<th>Date</th>
	    	<th>Teams</th>
		</tr>
	</thead>

	<tbody>
		<% @finalResult.each do |matches|%>
			<tr>
				<td class="display"><%= matches[0] %></td>
				<td class="display"><%= matches[1] %></td>
				<td class="display"><%= matches[2] %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<p>Notice: 
<%= @fieldManagementMessage %> <br>
<%= @extra %>
</p>

<h3>
	<%= link_to 'Back', locations_path %> | 
	<%= link_to 'Send Email To Teams', sendschedule_index_path%> 
</h3>